.register-page {
    min-height: 100vh;         /* на всю высоту экрана */
    display: flex;
    background: #ffffff;
}

.register-row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.form-col {
    padding: 40px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.brand {
    margin-bottom: 24px;
    text-align: left;
}

.logo {
    height: 48px;
    margin-bottom: 8px;
}

.register-form {
    background: transparent;
}

.image-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.door-image {
    width: 168px;
    height:456px;
    object-fit: contain;
}
